@model AdventureTourManagement.ViewModels.VMListActivities

@{
    ViewBag.Title = "FetchAllActivity";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>List of All Available Activites</h2>

@{
    var data = Model.showActivities;


        <div class="row">
            <div>
                @{
                    if (data != null)
                    {
                        foreach (var item in data)
                        {
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.ActionLink(item.activity_name, "FetchActivity", new { activity_id = item.activity_id })
                                    </div>


                                    <div class="col-md-6">
                                        <label class="description">@item.activity_description</label>
                                        @Html.DisplayText(item.activity_description)
                                    </div>



                                    <div class="col-md-1">
                                        @Html.Label(item.activity_fee.ToString())

                                    </div>
                                    <div class="col-md-1">
                                        @Html.Label(item.activity_slots.ToString())
                                    </div>
                                    @{ 

                                        if (item.activity_slots > 0)
                                        {

                                    @Html.ActionLink("Buy Now", "BuyNowAsync", "Shop", new { activityId = item.activity_id })

                                    @Html.ActionLink("Add to Cart", "AddToCart", "Shop", new { activityId = item.activity_id })
                                        }
                                        else
                                        {
                                            <label style="color:red;"> Sold Out </label>
                                        }

                                        }

                                </div>
                        }
                    }
                }
            </div>
                        </div>


            <table>
                <tr>
                    <td>
                        @Html.ActionLink("Go Back", "Index")
                    </td>
                </tr>
            </table>
            }

