@model ADSM.ViewModels.VMListActivities

@{
    ViewBag.Title = "FetchActivity";
    Layout = "~/Views/Shared/Master.cshtml";
}
<style>
    .image {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0);
    }

        .image:hover {
            box-shadow: 0px 0px 3px 3px rgba(0,0,0,.2);
        }

    .description {
        max-height: 400px;
        font-weight: normal;
        border-bottom: 1px solid rgba(0,0,0,.5);
        padding-bottom: 10px;
        display: block;
    }

    .btn-activity {
        margin-top: 10px;
    }
    .btn-back{
        margin-top: 20px;
        margin-bottom: 10px;
    }
</style>
<div class="row">
    <h2 class="col-md-10">Activity Details based on Selection from Trend</h2>
    <span class="col-md-2">
    @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-info btn-back" })</span>
</div>
@{
    var data = Model.showActivities;

    foreach (var item in data)
    {
        <div class="row">
            <div>
                @*<h3> Recommended Activities </h3>*@
                <div class="content-block">
                    <h1 class="col-md-12"> @Html.Label(item.activity_name)</h1>

                    <div class="col-md-6">
                        @*<img class="image" src="~/Content/image/ActivityImages/recurve-bows.jpg" alt="sometext" />*@
                        <img class="image" src=@item.activity_image_path alt="sometext" />

                    </div>
                    <div class="col-md-6">
                        <label class="description">@item.activity_description</label>
                        @Html.DisplayText(item.activity_description)
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span>Activity Fee</span>
                            <span>@Html.Label(item.activity_fee.ToString())</span>
                        </div>
                        <div class="col-md-2">
                            <span>Activity Slots</span>
                            <span>@Html.Label(item.activity_slots.ToString())</span>
                        </div>
                    </div>
                    <div>
                        @Html.ActionLink("Buy Now", "GetUserDetails", new { activity_id = item.activity_id}, new { @class = "btn btn-info btn-activity" })
                        @Html.ActionLink("Add to Cart", "ShoppingCart", null, new { @class = "btn btn-info btn-activity" })
                    </div>
                </div>
                </div>
        </div>
    }
    @*<div>
        @Html.ActionLink("Buy Now", "Checkout", null, new { @class = "btn btn-info btn-activity" })
        @Html.ActionLink("Add to Cart", "ShoppingCart", null, new { @class = "btn btn-info btn-activity" })
    </div>*@


}
