@model AdventureTourManagement.ViewModels.VMListActivities

@{
    ViewBag.Title = "FetchAllActivity";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>List of All Available Activites</h2>

@{
    var data = Model.showActivities;
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Activity Name</td>
                <td>Description</td>
                <td>Activity Fee</td>
                <td>Activity Slots</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        @{
            if (data != null)
            {
                
                foreach (var item in data)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.activity_name, "FetchActivity", new { activity_id = item.activity_id })
                        </td>


                        <td>
                            @item.activity_description
                            @Html.DisplayText(item.activity_description)
                        </td>



                        <td>
                            €@Html.Label(item.activity_fee.ToString())

                        </td>
                        <td>
                            @Html.Label(item.activity_slots.ToString())
                        </td>
                        <td>
                        @{ 

                            if (item.activity_slots > 0)
                            {

                        @Html.ActionLink("Buy Now", "BuyNowAsync", "Shop", new { activityId = item.activity_id }, new {@class="btn btn-primary mb-2"})

                        @Html.ActionLink("Add to Cart", "AddToCart", "Shop", new { activityId = item.activity_id }, new {@class="btn btn-primary"})
                            }
                            else
                            {
                                <label style="color:red;"> Sold Out </label>
                            }

                            }
                        </td>
                    </tr>
                }
            }
        }
        </tbody>
    </table>


            <table>
                <tr>
                    <td>
                        @Html.ActionLink("Go Back", "Index", null,null, new {@class="btn btn-primary mb-4"})
                    </td>
                </tr>
            </table>
            }

