@model IEnumerable<ADSM.Models.Activities>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActivityGrid</title>
</head>
<body>
    <div class="row" id="DataGrid">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover" style="width:100%;min-width:1500px;">
                <thead>
                    <tr>
                        <th>Activity_id</th>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Fee
                        <th>
                        <th>Summer</th>
                        <th>Winter</th>
                        <th>Autumn</th>
                        <th>Spring</th>
                        <th>Equipment_included</th>
                        <th>Equipment_Cost</th>
                        <th style="display:block">LUPBY</th>
                        <th style="display:block">LUPON</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ActivityListModel)
                    {
                        <tr>
                            <td>@item.Activity_id</td>
                            <td>@item.Name</td>
                            <td>@item.Duration</td>
                            <td>@item.Fee</td>
                            <td>@item.Summer</td>
                            <td>@item.Winter</td>
                            <td>@item.Autumn</td>
                            <td>@item.Spring</td>
                            <td>@item.Equipment_included</td>
                            <td>@item.Equipment_Cost</td>
                            <td style="display:block">@item.LastUpdatedBy</td>
                            <td style="display:block">@item.LastUpdatedOn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
