@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Master.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/Content/jquery-jvectormap-2.0.5.css" />
</head>
<body>
    <h2>welcome to User Dashboard</h2>

    <div class="row">
        <div class="col-lg-6">
            <div id="map" style="width:600px;height:400px;">
            </div>
        </div>
        <div class="col-lg-6">
            @Html.DropDownList("Activities", (IEnumerable<SelectListItem>)ViewBag.ActivityList, "Select..", new { @class = "form-control" })
            @Html.DropDownList("Region", (IEnumerable<SelectListItem>)ViewBag.RegionList, "Select..", new { @class = "form-control" })
        </div>
        <br />
        <br />
    </div>

    
    <div class="row" id="DataGrid">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover" style="width:100%;min-width:1500px;">
                <thead>
                    <tr>
                        <th>Activity_id</th>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Fee
                        <th>
                        <th>Summer</th>
                        <th>Winter</th>
                        <th>Autumn</th>
                        <th>Spring</th>
                        <th>Equipment_included</th>
                        <th>Equipment_Cost</th>
                        <th style="display:block">LUPBY</th>
                        <th style="display:block">LUPON</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.ActivityListModel != null)
                    {
                        foreach (var item in ViewBag.ActivityListModel)
                        {
                        <tr>
                            <td>@item.Activity_id</td>
                            <td>@item.Name</td>
                            <td>@item.Duration</td>
                            <td>@item.Fee</td>
                            <td>@item.Summer</td>
                            <td>@item.Winter</td>
                            <td>@item.Autumn</td>
                            <td>@item.Spring</td>
                            <td>@item.Equipment_included</td>
                            <td>@item.Equipment_Cost</td>
                            <td style="display:block">@item.LastUpdatedBy</td>
                            <td style="display:block">@item.LastUpdatedOn</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>

    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="~/Content/jquery-jvectormap-in-mill.js"></script>

<script type="text/javascript">

    $('#Region').hide();
    $('#DataGrid').hide();

    $(function () {

        $('#map').vectorMap({ map: 'in_mill' });
     
    });

    $('#Activities').change(function () {


        var ActivityId = $('#Activities').val();

        alert(ActivityId);

        if ($('#Activities').val() != 0) {
            $('#Region').show();

        } else {
            $('#Region').hide();
        }

    //<!--Ajax call to get the server side data -->
        //$.ajax({
        //    type: "POST",
        //    url: "/Home/ActivityInfo?id" + ActivityId,
        //    async: false,
        //    data: { id: ActivityId},
        //    success: function (data) {
        //        alert("Data is available");
        //    }
        //});

    });

    $('#Region').change(function () {

        var ActivityId = $('#Activities').val();

        if ($('#Region').val() != 0) {

            $.ajax({
            type: "POST",
            url: "/Home/ActivityInfo?id" + ActivityId,
            async: false,
            data: { id: ActivityId},
                success: function (obj) {
                    alert("Works from controller");
                    alert("Worked");
                    $('#DataGrid').show(obj);

            }
        });
        }
    });




    </script>

