@model IEnumerable<ADSM.Models.User_Details>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Users</h2>


<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered table-hover" style="width:100%;min-width:1500px;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FName</th>
                    <th>LName</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Password</th>
                    <th>Confirm Password</th>
                    <th>LUPBY</th>
                    <th>LUPON</th>
                </tr>
            </thead>
            <tbody>
                  @foreach(var item in Model)
                  {
                <tr>
                    <td>@item.Reg_Id.ToString()</td>
                    <td>@item.First_Name</td>
                    <td>@item.Last_Name</td>
                    <td>@item.DOB.ToString()</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Contact.ToString()</td>
                    <td>@item.Gender</td>
                    <td>@item.Password</td>
                    <td>@item.Confirm_Password</td>
                    <td>@item.LastUpdatedBy</td>
                    <td>@item.LastUpdatedOn</td>
                </tr>
                  }
            </tbody>
        </table>
    </div>
    </div>
    <div>
            </div>





