@model AdventureTourManagement.ViewModels.VmUser
@{
    ViewData["Title"] = "LoginUser";
    Layout = "~/Views/Shared/Master.cshtml";
}

<table class="table mb-0" style="width: 40%;">
    <tr>
    @{ 
        @Html.ActionLink("Logoff","Index","User",null, new { @class="btn btn-primary mb-3" })
    }
    </tr>
    <tr>
        <td>
            Name :
        </td>
        <td>
            @Html.Label(Model.UserName)
        </td>
    </tr>
    <tr>
        <td>
            Email :
        </td>
        <td>
            <label>@Model.DecryptedUserEmail</label>
        </td>
    </tr>
    <tr>
        <td>
            Contact :
        </td>
        <td>
            @Html.Label(Model.UserContact)
        </td>
    </tr>
</table>
<table class="table" style="width: 40%;">
    <tr>
        <td>
            @Html.ActionLink("Update Details", "UpdateUserDetailView", "User", new { userEmail = Model.UserEmail }, new {@class="btn btn-primary"})
        </td>
        <td>
            @Html.ActionLink("Change Password", "UpdateUserPasswordView", "User", new { userEmail = Model.UserEmail }, new {@class="btn btn-primary"})
        </td>
        <td>
            @Html.ActionLink("View Booking History", "GetBookingHistory", "User", new { userEmail = Model.UserEmail }, new {@class="btn btn-primary"})
        </td>
    </tr>
</table>

